@font-face {
    font-family: Hermes;
    src: url('../fonts/hermes.ttf');
}

@font-face {
    font-family: RZD;
    src: url('../fonts/RussianRail\ G\ Pro\ Extended\ Bold.otf');
}

@font-face {
    font-family: 'RZD Regular';
    src: url('../fonts/RussianRail\ G\ Regular.otf');
}

body {
    height: 100vh;
    background: radial-gradient(#ddd, #999);
}

#main {
    min-height: 100vh;
}

p {
    text-align: justify;
    text-indent: 1rem;
}

button.navbar-toggler {
    border: 1px solid white;
}

.fa.fa-bars {
    color: white;
}

body nav h1 {
    color: white;
    font-size: 3rem;
    font-family: RZD !important;
}

h1 {
    font-family: RZD !important;
}

h4 {
    font-family: 'RZD' !important;
}

body nav a:hover {
    text-decoration: none;
}


.article {
    padding: 1% 4% !important;
}

.list-group-item {
    color: #007bff;
    font-family: 'RZD Regular';
}

.list-group-item-secondary.list-group-item-action:hover {
    color: #fff;
    background: #d6d8db;
    cursor: pointer;
}

.chapter {
    border: 0;
    display: contents;
}

.table th {
    text-align: center;
    vertical-align: middle !important;
}

.table td {
    text-align: center;
    vertical-align: middle !important;
}

table .tcw46 {
    width: 46%;
}

table .tcw12 {
    width: 12%;
}

table .tcw16 {
    width: 16%;
}

table .tcw20 {
    width: 20%;
}


table .tcw30 {
    width: 30%;
}

.caption {
    color: #fff;
    font-family: 'RZD Regular';
    text-align: center;   
}
/*
ol { 
    list-style: none; 
    counter-reset: li;
    padding-inline-start: 3%; 
    
}
*/
ol.list-group li:before {
    counter-increment: li; 
    content: counters(li,".") ". "; 
}

.list-group li {
    color: #007bff;
}

.list-group li:hover {
    color: #fff;
}


ol.list-group {
    background: #d6d8db;
    counter-reset: li;
    cursor: pointer;
    font-family: 'RZD Regular';
    list-style: none;
    padding-inline-start: 1.5rem;
    list-style: none; 
}

ul.list-group {
    background: #d6d8db;
    cursor: pointer;
    font-family: 'RZD Regular';
    padding-inline-start: 2.5rem;
}

.range tr {
    counter-increment: range;
}

.range td,
.range tr:before {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}


.range tbody tr:before {
    content: counter(range);
    display: table-cell;
    vertical-align: middle;
}

table caption {
    caption-side: top;
    color: #000;
    text-align: center;
}

.ul-article {
    display: inline;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: justify;
}

.ul-article li {
    margin-bottom: 1rem;
}

.ul-article li:before {
    content:'— ';
}

.ol-article {
    display: inline;
    text-align: justify;
}

.ul-list-none {
    list-style-type: none;
    text-align: justify;
}

.ul-list-none li {
    margin-bottom: 1rem;
}

small {
    display: inline-block;
}

@media(max-width: 768px) {
    body nav h1 {
        font-size: 2.5rem;
    }

    table th,
    table td {
        font-size: .75rem;
    }

    .list-group-item {
       font-size: .8rem;
    }

    .article h1 {
        font-size: 1.5rem;
    }
    
    .article p {
        font-size: .8rem;
    }
    
    ol {
        font-size: .8rem;
    }

    ul {
        font-size: .8rem;
    }

    .ul-article {
        font-size: .8rem;
    }
}



@media(max-width: 576px) {
    body nav h1 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    table td,
    table th {
        font-size: .5rem;
    }
}